/* <!-- |||||||||||||||||||||||||||||||||||||||| -->*/
/* <!-- RESET  ||||||||||||||||||||||||||||||||| -->*/
/* <!-- |||||||||||||||||||||||||||||||||||||||| -->*/
button,hr,input{overflow:visible}progress,sub,sup{vertical-align:baseline}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}details,main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent; text-decoration: none!important;}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{padding:.35em .75em .625em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}
/* <!-- |||||||||||||||||||||||||||||||||||||||| -->*/
/* <!-- GENERALES |||||||||||||||||||||||||||||| -->*/
/* <!-- |||||||||||||||||||||||||||||||||||||||| -->*/
.miss{color: #f00!important;}
body{scroll-behavior: smooth;}
section{padding-top: 50px;padding-bottom: 50px;}
.row{padding-bottom: 30px;padding-top: 50px;}
.nop{padding: 0 !important;}
.row >*>.row{padding: 0 !important;}
.row >*>.row.pad{padding: 20px 0!important;}
header{}
header .row{padding: 20px 0!important;}
footer{background: #000; padding-top: 50px; color: #ffffff;}
/* <!-- |||||||||||||||||||||||||||||||||||||||| -->*/
/* <!-- SECCIONES |||||||||||||||||||||||||||||| -->*/
/* <!-- |||||||||||||||||||||||||||||||||||||||| -->*/
.topbar{}
.hero{height: 70vh; background-size: cover; background-repeat: no-repeat; background-position: center center; color: #FFFFFF;}
.hero-home{background-image: url('../img/home-hero.png');}
.hero-socios{background-image: url('../img/socios-hero.png');}
.hero-recursos{background-image: url('../img/recursos-hero.png');}

.imgsec{padding: 50px 0; min-height: 40vh; background-attachment: fixed!important; color: #ffffff;}
.imgsec-home{background:#0d0c0f url('../img/bg-imgsec1.png')no-repeat bottom center; background-size: 150%;}
.imgsec-socios{background:#0d0c0f url('../img/bg-imgsec2.png')no-repeat center center; background-size: 150%;}
.scrolloffset{scroll-margin-top: 140px;}

/*color blanco*/
.bg-sec1{background-color: #ffffff; color:#191919; }
/*color gris*/
.bg-sec2{background-color: #e5e5e5; color:#191919; }
/*color negro*/
.bg-sec3{background-color: #191919; color:#ffffff; }
/*Succes card*/
.bg-success{background: #effff3!important;}
.thumbnail{padding-bottom: 30px; position: relative;}
.post-title{min-height: 120px;}
.the-excerpt p{height: 110px; overflow:  hidden; margin-bottom: 30px;}
.the-excerpt-b{padding: 10px 10px 10px 30px; background: #191919; color: #FFFFFF;}
.the-excerpt-s{padding: 10px 10px 10px 30px; background: #191919; color: #FFFFFF;}
.thumbnail .post-date{min-width: 80px; height: auto; background: #ffffff; position: absolute; top: 0;left: 0; color:  #191919; padding: 10px;}
.thumbnail .post-date .day{display: block; font-size: 2em; font-weight: bold;}
.thumbnail .post-date .monthyear{display: block; font-size: 1em; font-weight: 100;}

/*contenido en carta de seccion recursos*/
.on-card{ background: #ffffff; padding: 30px; color: #191919;}


/* <!-- |||||||||||||||||||||||||||||||||||||||| -->*/
/* <!-- FORMULARIOS |||||||||||||||||||||||||||| -->*/
/* <!-- |||||||||||||||||||||||||||||||||||||||| -->*/
/* <!-- |||||||||||||||||||||||||||||||||||||||| -->*/
.login-card{ padding: 30px; margin-bottom: 50px;}
.login-card h3{ padding-bottom: 50px; }

.modal-dialog.modal-dialog-centered {width: 30vw;}
.modal-content {padding: 3em;}



/* <!-- |||||||||||||||||||||||||||||||||||||||| -->*/
/* <!-- TEXTOS ||||||||||||||||||||||||||||||||| -->*/
/* <!-- |||||||||||||||||||||||||||||||||||||||| -->*/
.caps{text-transform: uppercase;}
.nocaps{text-transform: inherit!important;}
.alert-success a{color: #0f5132!important;}
.alert-danger a{color: #721C24!important;}
.valuation-table, .valuation-table tr {width: 100%;}
.valuation-table td{padding: 20px; border: solid 1px #000000;}
.valuation-table.td-3 td{width: 33%;}
.valuation-table.td-4 td{width: 25%;}
.valuation-table.td-5 td{width: 15%;}
.valuation-head td, .valuation-head{ color: #ffffff;}
.timedval-table td{ border-bottom:  solid 1px #000000;  padding: 20px;}
.timedval-table tr.disabled{ opacity: 0.7;}
.timedval-table tr:last-child td{ border-bottom:  solid 1px #FFF; }
.timedval-head{margin-bottom: 30px;}
.timedval-head td{background: #000; color: #FFFFFF; padding: 20px;}


/* <!-- |||||||||||||||||||||||||||||||||||||||| -->*/
/* <!-- HEADINGS |||||||||||||||||||||||||||||||| -->*/
/* <!-- |||||||||||||||||||||||||||||||||||||||| -->*/
h1{font-size: 3.7em;}
.hero h2{font-size: 2.8em;}
h2.dressedh1{font-size: 2.8em;}
h2 span.mini{font-size: 0.74em;}
h3{font-size: 1.5em;}
h3.post-title{font-size: 1.5em; padding-bottom: 0.5em;}
h4{font-size: 1.1em;}
h1, h2, h3, h4, h5{padding-bottom: 1.5em;}
p,ul{font-size: 1.12em;line-height: 1.5em;padding-bottom: 1em;}




/* <!-- |||||||||||||||||||||||||||||||||||||||| -->*/
/* <!-- BODIES & SHAPES |||||||||||||||||||||||| -->*/
/* <!-- |||||||||||||||||||||||||||||||||||||||| -->*/
.feeded-post{margin-bottom: 50px;}
.spacer-pm{display: block;width: 100%;height: 0;padding: 20px;}
.spacer-p1{display: block;width: 100%;height: 0;padding: 50px;}
.spacer-p2{display: block;width: 100%;height: 0;padding: 100px;}
.spacer-p3{display: block;width: 100%;height: 0;padding: 200px;}
.card{border-radius: 0;}
.info-partner .card{margin: 10px 0 }
.rounded{border-radius: 10px!important;}
.rounded-top{border-radius: 10px 10px 0 0 !important;}
.rounded-bottom{border-radius: 0 0 10px 10px  !important;}

/* Tabs */
.lenav-tabs .nav-link{ background: none; border: none; border-bottom: solid 3px #FFFFFF; margin: 10px; color: #000000;}
.lenav-tabs .nav-link:hover{border-bottom: solid 3px #ccc; }
.lenav-tabs .nav-link.active{border-bottom: solid 3px #000000; }

/* Accordeones  */

.accordion-button:not(.collapsed){background: #000000; color: #FFFFFF;}
.accordion-button:not(.collapsed)::after{background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>")!important;}

/* <!-- |||||||||||||||||||||||||||||||||||||||| -->*/
/* <!-- FOOTER ||||||||||||||||||||||||||||||||| -->*/
/* <!-- |||||||||||||||||||||||||||||||||||||||| -->*/




/* <!-- |||||||||||||||||||||||||||||||||||||||| -->*/
/* <!-- QUERIES ||||||||||||||||||||||||||||||||| -->*/
/* <!-- |||||||||||||||||||||||||||||||||||||||| -->*/
@media screen  and (max-width: 767px) and (min-width: 0){
	h1{font-size: 3em;}
	h2{font-size: 2em;}
	h2.dressedh1{font-size: 2em;}
	h2 span{font-size: 0.5em;}
	h3{font-size: 1.2em;}
	h3.post-title{font-size: 1.2em;}
	h4{font-size: 1em;}
	h1, h2, h3, h4, h5{padding-bottom: 1.2em;}
	p,ul{font-size: 1em;line-height: 1.1em;padding-bottom: 1em;}	
	.row{padding-bottom: 20px;padding-top: 20px;}
	section#forms-header{padding: 0 !important}
	.imgsec-home{background-size: 400%;}
	.imgsec-socios{background-size: 400%;}
	#partner-search input, #partner-search select{width: 100%!important;margin-bottom: 10px; margin-top: 10px}
	#addPartner{margin: 20px 0;}
	.modal-dialog.modal-dialog-centered {width: auto;}
}